default: &default
  encoding: utf8
  adapter: mysql2
  host: localhost
  username: root
  password:
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: arvor_dev

test:
  <<: *default
  database: arvor_test

production:
  <<: *default
  database: arvor
  socket: /tmp/mysql.sock